body,ul,li,h1,h2,h3,h4,h5,h6,ul,li,p,dl,dd,dt,fieldset,legend,table{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
#header{
	height: 350px;
	background: url(../img/header-background.jpg) no-repeat;
	background-size: 100% 120%;
}
.header-bg{
	padding: 14px 0;
	background: #fff;
	opacity: 0.6;
}
.header-container{
	max-width: 1200px;
	margin: 0 auto;
}
.header-container:after{
	content: "";
	display: block;
	clear: both;
}
.logo{
	float: left;
}
.nav{
	float: right;
}
.nav:after{
	content: "";
	display: block;
	clear: both;
}
.nav>li{
	float: left;
	padding: 4px 10px;
}
.nav>li>a{
	font-size: 16px;
}
.introduce{
	padding: 6em 0 0 0;
	color: #fff;
	text-align: center;
}
.introduce>.blog-name{
	width: 314px;
	padding: 0 0 6px 0;
	margin: 0 auto;
	border-bottom: 2px solid #fff;
}
.introduce>.detail{
	margin: 14px 0 0 0;
}

#footer{
	padding: 16px 0;
	color: #fff;
	background: #030029;
	font-size: 14px;
	text-align: center;
}